   
  .card:hover {
    transform: scale(1.1);
  }

  .card-body {
    padding: 15px;
    text-align: center;
  }
  
  .card-body h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
    color: #333;
  }
  
  .card-body p {
    margin: 5px 0;
    color: #777;
  }
  
  .card-body a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
  }
  